body {
  background-color: teal;
}

#box1 {
  display: grid;
  grid-template-areas:
    "charview1 charview2"
    "chargrid chargrid";
  border: 5px maroon solid;
  height: 50em;
}

#charview1 {
  height: 35em;
  width: 47vw;
  grid-area: charview1;
  border: 5px orange solid;
  display: grid;
  grid-template-areas:
    "charview1a charview1b"
    "charview1c charview1c";
}

#charview2 {
  height: 35em;
  width: 47vw;
  grid-area: charview2;
  border: 5px orange solid;
  display: grid;
  grid-template-areas:
    "charview2a charview2b"
    "charview2a charview2c"
    "charview2d charview2d"
    "charview2d charview2d"
    "charview2d charview2d";
}

#charview1a {
  grid-area: charview1a;
  border: 5px green solid;
}

#charview1b {
  grid-area: charview1b;
  border: 5px green solid;
}

#charview1c {
  grid-area: charview1c;
  border: 5px green solid;
}

#charview2a {
  grid-area: charview2a;
  border: 5px green solid;
}

#charview2b {
  grid-area: charview2b;
  border: 5px green solid;
}

#charview2c {
  grid-area: charview2c;
  border: 5px green solid;
  font-size: 1.5vw;
}

#charview2d {
  grid-area: charview2d;
  border: 5px green solid;
}

.chargrid {
  grid-area: chargrid;
  display: grid;
  grid-template-areas: "char1 char2 char3 char4";
}

#char1 {
  grid-area: char1;
  border: 5px purple solid;
  height: 10vw;
  background-image: url(images/crono.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 9vw;
}

#char2 {
  grid-area: char2;
  border: 5px purple solid;
  height: 10vw;
  background-image: url(images/crono.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 9vw;
}

#char3 {
  grid-area: char3;
  border: 5px purple solid;
  height: 10vw;
  background-image: url(images/crono.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 9vw;
}

#char4 {
  grid-area: char4;
  border: 5px purple solid;
  height: 10vw;
  background-image: url(images/crono.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 9vw;
}

img {
  height: 8vw;
}

.wacky {
  background-image: url(images/wacky.jpg);
  background-size: 300px;
}

@media only all and (max-width: 900px) {
  body {
    background-color: skyblue;
  }

  #box1 {
    height: 50em;
  }

  #charview1 {
    height: 43em;
    width: 45vw;
  }

  #charview2 {
    height: 43em;
    width: 45vw;
  }
}
