body {
  background-color: lightgray;
}

#box1 {
  display: grid;
  grid-template-areas:
    "chargrid"
    "charview1" 
    "charview2";
  border: 5px maroon solid;
  height: 120em;
}

#charview1 {
  height: 35em;
  width: 100%;
  grid-area: charview1;
  border: 5px orange solid;
  display: grid;
  grid-template-areas:
    "charview1a charview1b"
    "charview1c charview1c";
}

#charview2 {
  height: 30em;
  width: 47vw;
  height: 43em;
  width: 100%;
  grid-area: charview2;
  border: 5px orange solid;
  display: grid;
  grid-template-areas:
    "charview2a charview2b"
    "charview2c charview2c"
    "charview2d charview2d"
    "charview2d charview2d"
    "charview2d charview2d";
}

#charview1a {
  grid-area: charview1a;
  border: 5px green solid;
  font-size: 3vw;
  height: 11vw;
}

#charview1b {
  grid-area: charview1b;
  border: 5px green solid;
  font-size: 3vw;
  height: 11vw;
  width: 60vw;
}

#charview1c {
  grid-area: charview1c;
  border: 5px green solid;
  height: 50vw;
}

#charview2a {
  grid-area: charview2a;
  border: 5px green solid;
  height: 20vw;
}

#charview2b {
  grid-area: charview2b;
  border: 5px green solid;
  height: 20vw;
}

#charview2c {
  grid-area: charview2c;
  border: 5px green solid;
  font-size: 4.5vw;
  height: 40vw;
}

#charview2d {
  grid-area: charview2d;
  border: 5px green solid;
}

.chargrid {
  grid-area: chargrid;
  display: grid;
  grid-template-areas:
  "char1 char2"
  "char3 char4";
}

#char1 {
  grid-area: char1;
  border: 5px purple solid;
  height: 20vw;
  background-image: url(images/crono.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 9vw;
}

#char2 {
  grid-area: char2;
  border: 5px purple solid;
  height: 20vw;
  background-image: url(images/crono.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 9vw;
}

#char3 {
  grid-area: char3;
  border: 5px purple solid;
  height: 20vw;
  background-image: url(images/crono.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 9vw;
}

#char4 {
  grid-area: char4;
  border: 5px purple solid;
  height: 20vw;
  background-image: url(images/crono.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 9vw;
}

img {
  height: 8vw;
}

.wacky {
  background-image: url(images/wacky.jpg);
  background-size: 300px;
}

.char-img {
  padding-top: 2rem;
  height: 45vw;
}

.top-img {
  height: 20vw;
}

@media only all and (min-width: 900px) {
  body {
    background-color: skyblue;
  }

  #box1 {
    height: 53em;
    grid-template-areas:
    "chargrid chargrid"
    "charview1 charview2";
  }

  #charview1b {
    width: 30vw;
  }

  #charview1 {
    height: 40em;
    width: 47vw;
  }

  #charview2 {
    height: 40em;
    width: 47vw;
    grid-template-areas:
    "charview2a charview2b"
    "charview2c charview2c"
    "charview2d charview2d";
  }

  .chargrid {
    grid-template-areas: 
    "char1 char2 char3 char4";
  }

  #charview2a {
    height: 15vw;
  }

  #charview2b {
    height: 10vw;
  }

  #charview2c {
    font-size: 1.8rem;
    height: 14rem;
  }

  .top-img {
    height: 15vw;
  }

  .char-img {
    height: 20vw;
  }

  #charview1c {
    height: 24vw;
  }

  #char1 {
    height: 10vw;
  }

  #char2 {
    height: 10vw;
  }

  #char3 {
    height: 10vw;
  }

  #char4 {
    height: 10vw;
  }
}
