body {
    background-image: url(images/bg-2.gif);
    margin: 3vw;
    font-family: courier;
    animation: bg-move-2 6s infinite linear;
    background-position: 10px 800px;
}

#blank-image {
    visibility: hidden;
}

img {
    width: 40vw;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#intro {
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 3vw;
}

#dropdown-zone {
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 3vw;
}

#picture-zone {
    border: purple 20px solid;
    border-style: groove;
    margin-left: 20vw;
    margin-right: 20vw;
    padding-top: 3vw;
    padding-bottom: 3vw;
    background-image: url(images/bg-1.gif);
    animation: bg-move-1 6s infinite linear;
    background-position: 10px 800px;
}

@keyframes bg-move-1 {
    0% {
      background-position: 0px 0px;
    }
    100% {
      background-position: 0px 100px;
    }
  }

  @keyframes bg-move-2 {
    0% {
      background-position: 0px 0px;
    }
    100% {
      background-position: 100px 0px;
    }
  }